body{
    background-color: gray;
}
.box{
    width: 100%;
    background-color: white;
    margin: 10px;
}
.image{
    position: relative;
    margin: 25px;
    padding: 20px;
}
.container{
    position: absolute;
    top: 45px;
    left: 525px;
}
label{
    font-size: 20px;
}
.about{
    position: absolute;
    top: 15px;
    left: 850px;
    margin-right: 50px;
}
p{
    font-size: 20px;
}
.list{
    left: 20px;
    margin: 40px;
}
li{
    font-size: 20px;
    display: inline-block;
}
